@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply capitalize
}
html{
  scroll-behavior: smooth;
 /* background-color: #d1c8c9;*/
}

ul li a {
  @apply capitalize font-sans font-medium
}

ul li a:hover {
  @apply text-orange-500
}

button {
  width: 122px;
  @apply bg-orange-500 text-center h-7 capitalize rounded-lg text-black transition-all
}
button:hover{
 
  @apply transform tracking-[1.5px] transition-all
}
h1 {
  @apply text-6xl font-bold
}

h2 {
  @apply text-xl font-bold
}

.offeryou {
  @apply h-52 w-[235px]
}

.offeryou div:first-child{
  @apply
  mb-4
  bg-gray-900
  w-fit
  p-2
  rounded-md
  
}
.offertext p:first-child {
  @apply text-xl font-bold
}

.offertext p:nth-child(2) {
  @apply text-gray-400
}



.clicked {
  @apply bg-orange-600
}

nav i {
  position: relative;


}

nav i::after {
  font-weight: bold;
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  background: rgb(255, 145, 0);
  backdrop-filter: blur(2px);
  position: absolute;
  border-radius: 50%;
  bottom: -5px;
  right: -10px;
}

.scrollbar::-webkit-scrollbar {

  display: none;
}
.cardsection i{
  @apply
  text-orange-600
  text-3xl
  font-thin
  transition-all
  
}

.iaftercartscrooll::after{
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  background-color: rgb(250, 249, 249);
  border-radius: 500%;
  right: 0;
  bottom: 18%;
  z-index: -1;
  transition: .3s all;

}

.iaftercartscrooll:hover::after{
  @apply
  transform scale-110
}

.paddingall{
  @apply
  lg:pl-20 lg:pr-20 md:pr-10 md:pl-10 pl-5 pr-5 
}

@media (max-width: 1200px){
  br{
    display: none;
  }
  h1 {
    @apply text-4xl font-bold
  }
  h2{

    @apply
    text-lg
  }
  footer{
    @apply
    pl-5 pr-5
  }
 footer div div:first-child{
  width: 271px;
 }
 footer div{
  align-items: center;
 }
}

input{
  width: 252px;
  border-radius: 10px;
  height: 35px;
  padding-left: 12px;
  background: #a5a5a51e;
  backdrop-filter: blur(7px);
  
  
  
}
